<footer class="text-center pb-2 pt-3" style="background-color: #e3f2fd;">
   
    <a href="{{path('mentions_legales')}}" class="nav-link">Mentions Légales</a>
    <p>&copy; Najwa - 2024</p>
    
</footer>