{# templates/bundles/TwigBundle/Exception/error_404.html.twig #}
{% extends 'bootstrap.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <h1 class="text-center" style="font-size: 250px;">404 </h1>
    <p class="text-center" style="font-size: 80px;">PAGE NOT FOUND</p>
{% endblock %}
