{% extends "bootstrap.html.twig" %}

{% block body %}

<h2 class="text-center mb-5 mt-5">Mentions Légales</h2>


<article class="mb-5 mt-5">
    <h4>Lorem ipsum dolor sit amet.</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nesciunt vero illo minus laudantium quae, sequi eveniet consequatur illum fugiat amet, aut autem atque. Porro eveniet asperiores excepturi. Esse quae necessitatibus debitis sunt corporis aperiam minima temporibus quis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nesciunt vero illo minus laudantium quae, sequi eveniet consequatur illum fugiat amet, aut autem atque. Porro eveniet asperiores excepturi. Esse quae necessitatibus debitis sunt corporis aperiam minima temporibus quis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nesciunt vero illo minus laudantium quae, sequi eveniet consequatur illum fugiat amet, aut autem atque. Porro eveniet asperiores excepturi. Esse quae necessitatibus debitis sunt corporis aperiam minima temporibus quis.</p>
</article>


<article class="row mb-5 mt-5">
    <h4>Lorem ipsum dolor sit amet.</h4>
    <p class="col-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ipsum earum alias exercitationem debitis rerum. Asperiores repellendus expedita, distinctio delectus perspiciatis quas? Neque ratione aspernatur sed possimus quis! Reprehenderit nulla repudiandae, necessitatibus omnis nemo expedita explicabo eaque ipsum id consequuntur, suscipit accusamus molestias dolore cupiditate distinctio itaque quam aliquid, excepturi esse reiciendis tempore ipsam. Molestias dolorem autem ut, sit perferendis exercitationem voluptate libero laborum cupiditate assumenda quae saepe, voluptas, delectus consectetur magnam iusto id qui enim sint nulla nihil totam. Impedit explicabo soluta similique quo accusantium velit beatae est laudantium laborum. Animi corporis rem sit, obcaecati necessitatibus minima neque amet.</p>
    <p class="col-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ipsum earum alias exercitationem debitis rerum. Asperiores repellendus expedita, distinctio delectus perspiciatis quas? Neque ratione aspernatur sed possimus quis! Reprehenderit nulla repudiandae, necessitatibus omnis nemo expedita explicabo eaque ipsum id consequuntur, suscipit accusamus molestias dolore cupiditate distinctio itaque quam aliquid, excepturi esse reiciendis tempore ipsam. Molestias dolorem autem ut, sit perferendis exercitationem voluptate libero laborum cupiditate assumenda quae saepe, voluptas, delectus consectetur magnam iusto id qui enim sint nulla nihil totam. Impedit explicabo soluta similique quo accusantium velit beatae est laudantium laborum. Animi corporis rem sit, obcaecati necessitatibus minima neque amet.</p>
</article>


<article class=" row mb-5 mt-5">
    <h4>Lorem ipsum dolor sit amet.</h4>
    <p class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nesciunt vero illo minus laudantium quae, sequi eveniet consequatur illum fugiat amet, aut autem atque. Porro eveniet asperiores excepturi. Esse quae necessitatibus debitis sunt corporis aperiam minima temporibus quis.</p>
    <p class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nesciunt vero illo minus laudantium quae, sequi eveniet consequatur illum fugiat amet, aut autem atque. Porro eveniet asperiores excepturi. Esse quae necessitatibus debitis sunt corporis aperiam minima temporibus quis.</p>
    <p class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nesciunt vero illo minus laudantium quae, sequi eveniet consequatur illum fugiat amet, aut autem atque. Porro eveniet asperiores excepturi. Esse quae necessitatibus debitis sunt corporis aperiam minima temporibus quis.</p>
</article>
{% endblock %}
